{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<!-- {{New_soft}} -->
<div class="container-fluid">
  <div class="col-md-10 ml-auto mr-auto my-4">
          <h2 class="title" style=" text-align: center;" > <b> New Softwares </b> </h2>
          <br>
          <div class="row">
            {% for i,sw in New_soft.items %}
            <div class="col-sm-4 my-2">
              <div class="card card-plain card-blog">
                <div class="card-header card-header-image">
                    <img class="img img-raised" src="{{sw.2}}">
                <div class="colored-shadow" style="background-image: url(); opacity: 1;"></div></div>
                <div class="card-body">
                  <h6 class="card-category text-info"></h6>
                  <h4 class="card-title">
                    <a href="{{sw.3}}">{{sw.0}}</a>
                  </h4>
                  <p class="card-description">
                  {{sw.1}}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="container my-3" style=" text-align:center; color:white;" >
        <button type="button" class="btn btn-success padx-5"  name="Show More" ><a href="{% url 'RetryApp:newsoft' %}" style=" text-align:center; color:white;">Show More!</a></button>
      </div>
{% endblock %}
