{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block body_block %}

    <div class="container my-5">
      <div class="jumbotron" style=" background-color: white;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 40px;
      background-image: url('{% static "images/sigmup.jpg" %}');">
        <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-success" type="submit" value="Sign Up">
            </form>
    </div>
    </div>

{% endblock %}
